@model Book_Management.ViewModel.Category.AddCategoryViewModel

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}


<div class="form-row">

    <h4>Create Category</h4>

    <form method="post" asp-action="AddCategory" name="AddCategory">
        <div class="form-group col-md-6">

            <label>Category Name</label>
            <input type="text" class="form-control" asp-for="CategoryName" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
            @if (ViewBag.Message != null)
            {
                <p class="text-danger" id='message'>@ViewBag.Message</p>
            }

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary text-center">Add</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="GetCategory">Cancel</a>
        </div>
    </form>
</div>



@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        setTimeout(function () {
            $('#message').hide(5000);
        });
    </script>
}

