@model Book_Management.Models.CategoryMst

<div class="form-row">

    <h4>Delete Category</h4>
   
    <form method="post" asp-action="DeleteCategory" name="DeleteUser">

        <div class="form-group col-md-6">

            <input type="hidden" class=" form-control" asp-for=CategoryId readonly />

            <label>Country Name: </label>
            <input type="text" asp-for="CategoryName" placeholder="Enter CategoryName" readonly />

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary text-center">Delete</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="GetCategory">Cancel</a>

        </div>
    </form>
</div>



