@model List<Book_Management.Models.CategoryMst>

@{
    ViewData["Title"] = "GetCategory";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">

            <a class=" btn btn-success " style="float:right;" asp-action="AddCategory">New Category</a>

            <div class="mb-3">
                <div class="text-success">

                    @if (TempData["DeleteCategory"] != null)
                    {
                        <p class="text-success" id='message'>@TempData["DeleteCategory"]</p>
                    }

                </div>
            </div>


            <table class="table table-bordered-none table-responsive" id="tbllist">
                <thead>
                    <tr class="text-center">
                        <th>CategoryName</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="Text-center">
                        <td>@item.CategoryName</td>

                        <td>
                            <a class=" btn btn-warning m-1" asp-action="UpdateCategory" asp-route-id="@item.CategoryId">Edit</a>
                            <a class=" btn btn-danger m-1" asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@*for jquery dataTables*@
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tbllist').DataTable();
        });

        //$(document).ready(function () {
        //    $('#tbllist').DataTable({

        //        "paging": true,
        //        "filter": true,
        //        "sorting": true,


        //        "ajax": {
        //            "url": "/Category/Get",
        //            "type": "GET",
        //            "datatpe": "json"
        //        },
        //        "columns": [
        //            { "data": "CategoryName" },
        //            {
        //                "data": "CategoryId", "width": "50px", "render": function (data) {
        //                    return '<button class="btn btn-success" onclick="edit(' + data + ')">Edit</button>'
        //                }
        //            },
        //        ]
        //    });

        //});


        //debugger;
        //function edit(id) {

        //    $.get("/Category/UpdateCategory", { id: id }, function (res) {

        //        $("#UsermodalBody").html(res);
        //       // $("#UserModal").modal('show');
        //    })
        //}

        //function Updateuser() {
        //    // var modal = $("#UserModal");
        //    var form = $('form[name ="updateUser"]');
        //    form.validate();
        //    if (!form.valid()) {
        //        return;
        //    }
        //    else {
        //        var data = form.serialize();
        //        $.post("/Category/EditCategory", data, function (res) {
        //            if (res) {
        //                //modal.modal('hide');
        //                dataTable.ajax.reload();
        //            }
        //        })
        //    }
        //}

        setTimeout(function () {
            $('#message').hide(3000);
        });

    </script>
        }

