@model Book_Management.Models.CategoryMst

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="form-row">

    <h4>Update Category</h4>

    <form method="post" asp-action="UpdateCategory" name="updateUser">

        <div class="form-group col-md-6">

            <input type="hidden" class=" form-control" asp-for=CategoryId readonly />

            <label>Category Name: </label>
            <input type="text" asp-for="CategoryName" placeholder="Enter CategoryName" />

            <span asp-validation-for="CategoryName" class="text-danger"></span>
            @if (ViewBag.Message != null)
            {
                <p class="text-danger" id='message'>@ViewBag.Message</p>
            }

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary text-center">Update</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="GetCategory">Cancel</a>

        </div>
    </form>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        setTimeout(function () {
            $('#message').hide(5000);
        });
    </script>
}

