@model Book_Management.Models.BookMst

@{
    ViewData["Title"] = "UpdateBook";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="form-row">
    <hr />
    <h4>Books</h4>


    <form method="post" asp-action="UpdateBook" enctype="multipart/form-data">

        <input type="hidden" class=" form-control" asp-for=BookId readonly />

        <div class="form-group col-md-6">
            <label>Category Name</label>
            <select class="form-control" asp-for="CategoryId" id="CategoryId" asp-items="ViewBag.categoryList">
                <option>Select category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label>subcategory Name</label>
            <select class="form-control" asp-for="SubcategoryId" id="SubcategoryId" asp-items="ViewBag.stateName">
                <option>Select subcategory</option>
            </select>
            <span asp-validation-for="SubcategoryId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label> Book name</label>
            <input type="text" class="form-control" asp-for="BookName" placeholder="Enter Book Name" />
            <span asp-validation-for="BookName" class="text-danger"></span>
            @if (ViewBag.Message != null)
            {
                <p class="text-danger" id='message'>@ViewBag.Message</p>
            }
        </div>

        <div class="form-group col-md-6 mb-3">
            <label> Author name</label>
            <input type="text" class="form-control" asp-for="AuthorName" placeholder="Enter AuthorName" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label> Book Pages</label>
            <input type="number" class="form-control" asp-for="BookPages" placeholder="Enter pages of book" />
            <span asp-validation-for="BookPages" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label> Publisher</label>
            <input type="text" class="form-control" asp-for="Publisher" placeholder="Enter Publisher" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label> PublishDate</label>
            <input type="date" class="form-control" asp-for="PublishDate" placeholder="Enter PublishDate" />
            <span asp-validation-for="PublishDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label> Edition</label>
            <input type="number" class="form-control" asp-for="Edition" placeholder="Enter Edition" />
            <span asp-validation-for="Edition" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label> Description</label>
            <textarea rows="3" cols="15" class=" form-control" asp-for=Description placeholder="Enter Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label> Price</label>
            <input type="number" class="form-control" asp-for="Price" placeholder="Enter Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>


        <div class="form-group col-md-6 mb-3">
            <label class=" form-label"> CoverImagePath</label>
            <input type="file" class=" form-control" asp-for=CoverImagePath accept="image/x-png,image/jpg,image/jpeg" />
            <span asp-validation-for="CoverImagePath" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label> PdfPath</label>
            <input type="file" class="form-control" asp-for="PdfPath" accept="pdf" />
            <span asp-validation-for="PdfPath" class="text-danger"></span>
        </div>


        <div class="col-12">

            <button type="submit" class="btn btn-primary text-center">Update</button>
            <a class="btn btn-danger m-1 text-white text-center" asp-action="GetBook">Cancel</a>

        </div>
    </form>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script type="text/javascript">
            setTimeout(function () {
                $('#message').hide(3000);
            });
        </script>
    }


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            debugger;
            $('#CategoryId').change(function () {

                var url = '@Url.Content("~/")' + "Book/GetSubCategory";
                var ddlsource = "#CategoryId";
                $.getJSON(url, { CategoryId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#SubcategoryId").empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value = '" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });
                    $("#SubcategoryId").html(items);
                });
            });
        });
    </script>
}


